<div class="container-fluid">

    <!-- DataTables Example -->
    <div class="card mb-3 ">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Employee information
      </div>
      <div class="card-body">
        <form >
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="inputNombres" class="form-control" placeholder="Name" readonly
                    required="required" autofocus="autofocus" value="{{employee.employeeName | uppercase }}">
                  <label for="inputNombres">Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="inputApellidos" class="form-control" placeholder="Age" readonly
                    required="required" value="{{employee.employeeAge}}">
                  <label for="inputApellidos">Age</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Salary" readonly
                    required="required" value="{{employee.employeeSalary}}">
                  <label for="inputEmail">Salary</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="inputIdentificacion" class="form-control" placeholder="Anual Salary" readonly
                    disabled
                    value="{{employee.yearSalary }}">
                  <label for="inputIdentificacion">Anual Salary</label>
                </div>
              </div>
            </div>
          </div>         
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12 text-center">
                <button class="btn btn-success" (click)="getBack()">Atras</button>
              </div>
            </div>
          </div>
  
        </form>
  
      </div>
    </div>
  
  </div>
  <!-- /.container-fluid -->
