<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="#" class="logo d-flex align-items-center">

      <img src="assets/logo-fondo.png" alt="">
      <span>SOFTWARE ENGINEER TEST</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Hello everyone, it is a pleasure to present you this little project</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">To see the list of employees click here</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="" [routerLink]="[ '/inicio/employees-list' ]"
              class="btn-get-started d-inline-flex scrollto align-items-center justify-content-center align-self-center">
              <span>List of employees</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/developers.jpeg" class="img-fluid" alt=""> 
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row gy-12">
        <div class="col-lg-12 col-md-12 footer-info">
          <a href="#" class="logo d-flex align-items-center">
            <img src="assets/logo.png" alt="">
            <span>Name</span>
          </a>
          <p>Juan sebastian amaya</p>
        </div>

        <section id="contact" class="contact">
          <div class="container" data-aos="fade-up">
            <header class="section-header">
              <p>Contactanos</p>
            </header>

            <div class="row col-lg-12 mb-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Ubication</h3>
                  <p>cucuta</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call me</h3>
                  <p>3015406332</p>
                </div>
              </div>
            </div>
            <div class="row col-lg-12 mb-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>email</h3>
                  <p>juansebastianao@ufps.edu.co</p>
                </div>
              </div>
              <div class="col-md-6">
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#header" class="back-to-top scrollto d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>